{% extends 'base.html' %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %}
Home
{% endblock title %}


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>size</th>
                            <th>color</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for cartitem in cartitems %}
                            <tr>
                                <td class="align-left" {% if cartitem.status == "pilled" %}style="color: red;"{% endif %}><img src="{{cartitem.product.mainimage.image.url}}" alt="" style="width: 50px;">{{cartitem.product.name}}</td>
                                <td class="align-middle">{{cartitem.size}}</td>
                                <td class="align-middle">{{cartitem.color}}</td>
                                <td class="align-middle">${{cartitem.get_cart_item_single_price}}</td>
                                <td class="align-middle">

                                    <form method='post' action="{% url 'products:updatecart' cartitem.id %}">
                                        {% csrf_token %}
                                        <div class="input-group quantity mx-auto" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-minus" id="btn-minus{{cartitem.id}}">
                                                <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" id="quantity{{ cartitem.id}}" name="quantity{{ cartitem.id}}" class="form-control form-control-sm bg-secondary text-center" value="{{cartitem.quantity}}">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-plus" id="btn-plus{{ cartitem.id}}">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>


                                    <script>
                                        let btn_minus{{ cartitem.id}} = document.getElementById("btn-minus{{ cartitem.id}}");
                                        let btn_plus{{ cartitem.id}} = document.getElementById("btn-plus{{ cartitem.id}}");
                                        let val{{ cartitem.id}} = parseInt(document.getElementById("quantity{{ cartitem.id}}").value);
                                        btn_plus{{ cartitem.id}}.onclick = function () {
                                            val{{ cartitem.id}}=val{{ cartitem.id}}+1;
                                            document.getElementById("quantity{{ cartitem.id}}").value=val{{ cartitem.id}};
                                        };
                                        btn_minus{{ cartitem.id}}.onclick = function () {
                                            val{{ cartitem.id}}=val{{ cartitem.id}}-1;
                                            if (val{{ cartitem.id}} < 1) {
                                                val{{ cartitem.id}} = 1;
                                                document.getElementById("quantity{{ cartitem.id}}").value=1;
                                            }else{
                                                document.getElementById("quantity{{ cartitem.id}}").value=val{{ cartitem.id}};
                                            }
                                        };
                                    </script>


                                </td>
                                <td class="align-middle">${{cartitem.get_cart_item_price}}</td>
                                <td class="align-middle"><a href="{% url 'products:deletecartitem' cartitem.id %}" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{total_price}}</h5>
                        </div>
                        <a {% if cartitems|length != 0 %} href="{% url 'products:createorupdatepill' %} {% endif %}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->




{% endblock content %}